/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Noto Serif', serif;
*/
#background {
	background: rgb(240,240,240);
	overflow: hidden;
	display: block;
	max-width: 1280px;
	}

.content {
	padding:16px;
	float: center;
	width: 100%;
}

h4 {
	font-family: 'Open Sans Condensed', Arial, sans-serif; font-weight:700;
}

h2 {
	font-family: 'Source Sans Pro', Arial, sans-serif; font-weight:300;
}


.p {
	font-family: 'Noto Serif', Times, serif; font-weight:400;
}

li {
	margin-bottom:12px;
}
#banner, #sidefoo {
	font-family: 'Source Sans Pro', Arial, sans-serif; font-weight:300;
}
#banner {
	font-size:x-large;
	/*background-color: #9966FF;*/
	background-color: rgba(120,80,255,.5);
	width: 100%;
}
#maintext {
	width:58%;
	float:left;
	padding:8px;
	float: left;
}
#sidefoo {
	width:33%;
	float:right;
	line-height:1.5em;
	float: right;
	padding: 2%;
}
#item {
}
#thumbnail {
	float:right;
	margin-left:10px;
	margin-bottom:5px;
}
#description {
	line-height:1.5em;
	font-family: 'Noto Serif', Times, serif; font-weight:400;

}
.title, .datetime {
}

.cathead-vs, .cathead-2fri, .cathead-sbcps, .cathead-openinterp, .cathead-npsa, .cathead-pincsymp {
  padding: 10px;
  margin-bottom: 10px;
}
.cathead-vs {
  background: rgba(237,128,99,0.2);
}
.cathead-2fri {
  background-color: rgba(50,205,185,0.2);
}
.cathead-sbcps {
  background-color: rgba(50,90,150,0.2);
}
.cathead-openinterp {
  background-color: rgba(122,67,131,0.2);
}
.cathead-npsa {
  background-color: rgba(96,165,65,0.2);
}
.cathead-pincsymp {
  background-color: rgba(186,37,37,0.2);
}
.showmore { line-height:18px; }
.showmore_content { position:relative; overflow:hidden; }           
.showmore_trigger { width:100%; height:45px; line-height:45px; cursor:pointer; }
.showmore_trigger span { display:block; }
